.gameForm 
{
    display: block;
    box-shadow: 0 1px 10px 0 #000;
    width:80%;
    min-width: 900px !important;
    height:80%;
    background-color: #092fed;
}

.gameField
{
    position: relative;
    margin:0;
    border: 1px solid black !important;
    border-right: none !important;
    display: flex;
    word-wrap: break-word;
    flex-wrap: wrap;
    height: 100%;
}

